In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12,5)

In [2]:
data = pd.read_csv('trips_with_weather.csv')
data.head()

,Unnamed: 0,Input,Output,Station Number,date,day_part,capacity,short_name,station_id,snow,thunder,rain,meantempm,meanwindspdm
0,21602,0,0,61st St & Banks Pl NE,2015-01-01,0,19.0,31714,444,0,0,0,3,13
1,21603,0,0,12th & Newton St NE,2015-01-01,0,11.0,31501,73,0,0,0,3,13
2,21604,2,0,Wilson Blvd & Franklin Rd,2015-01-01,0,11.0,31020,138,0,0,0,3,13
3,21605,0,1,18th & Eads St.,2015-01-01,0,11.0,31001,2,0,0,0,3,13
4,21606,0,0,Medical Center Metro,2015-01-01,0,19.0,32053,383,0,0,0,3,13

In [3]:
data.drop(data.columns[0], axis = 1, inplace=True)
data.drop(['Station Number', 'short_name'], axis = 1, inplace=True)
data.head()

,Input,Output,date,day_part,capacity,station_id,snow,thunder,rain,meantempm,meanwindspdm
0,0,0,2015-01-01,0,19.0,444,0,0,0,3,13
1,0,0,2015-01-01,0,11.0,73,0,0,0,3,13
2,2,0,2015-01-01,0,11.0,138,0,0,0,3,13
3,0,1,2015-01-01,0,11.0,2,0,0,0,3,13
4,0,0,2015-01-01,0,19.0,383,0,0,0,3,13

In [4]:
data = data.join( pd.get_dummies(data.day_part, prefix='day_part_'))

data = data.join(pd.get_dummies(data.station_id, prefix='st_id_'))

data.drop('day_part', axis = 1, inplace=True)
data = data[(pd.to_datetime(data.date).dt.year != 2017)]

data

,Input,Output,date,capacity,station_id,snow,thunder,rain,meantempm,meanwindspdm,...,st_id__439,st_id__443,st_id__444,st_id__448,st_id__451,st_id__452,st_id__454,st_id__455,st_id__456,st_id__458
0,0,0,2015-01-01,19.0,444,0,0,0,3,13,...,0,0,1,0,0,0,0,0,0,0
1,0,0,2015-01-01,11.0,73,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
2,2,0,2015-01-01,11.0,138,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
3,0,1,2015-01-01,11.0,2,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
4,0,0,2015-01-01,19.0,383,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2015-01-01,19.0,417,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
6,0,0,2015-01-01,15.0,235,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
7,0,0,2015-01-01,19.0,274,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
8,0,0,2015-01-01,19.0,269,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
9,0,0,2015-01-01,15.0,337,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
10,0,1,2015-01-01,11.0,93,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
11,0,0,2015-01-01,11.0,244,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
12,0,0,2015-01-01,17.0,3,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
13,0,0,2015-01-01,15.0,287,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
14,0,5,2015-01-01,19.0,236,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
15,0,0,2015-01-01,15.0,181,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
16,0,0,2015-01-01,15.0,170,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
17,0,1,2015-01-01,23.0,228,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
18,2,0,2015-01-01,15.0,60,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
19,1,1,2015-01-01,35.0,27,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
20,0,0,2015-01-01,23.0,400,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
21,1,0,2015-01-01,15.0,97,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
22,2,0,2015-01-01,15.0,80,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
23,0,0,2015-01-01,11.0,317,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
24,0,1,2015-01-01,15.0,74,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
25,0,2,2015-01-01,23.0,114,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
26,0,0,2015-01-01,23.0,110,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
27,0,0,2015-01-01,11.0,11,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
28,0,0,2015-01-01,15.0,167,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
29,0,0,2015-01-01,11.0,70,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134482,5,1,2016-12-31,23.0,367,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134483,0,0,2016-12-31,17.0,140,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134484,1,0,2016-12-31,27.0,193,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134485,5,4,2016-12-31,15.0,145,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134486,0,0,2016-12-31,19.0,72,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134487,0,0,2016-12-31,11.0,221,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134488,0,1,2016-12-31,23.0,95,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134489,4,4,2016-12-31,31.0,82,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134490,0,0,2016-12-31,12.0,255,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134491,2,7,2016-12-31,31.0,242,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134492,0,1,2016-12-31,15.0,155,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134493,0,0,2016-12-31,17.0,195,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134494,6,3,2016-12-31,19.0,153,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134495,0,0,2016-12-31,23.0,423,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134496,0,0,2016-12-31,15.0,333,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134497,4,0,2016-12-31,15.0,396,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134498,0,0,2016-12-31,19.0,379,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134499,1,0,2016-12-31,19.0,218,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134500,0,0,2016-12-31,19.0,185,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134501,0,0,2016-12-31,19.0,268,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134502,4,2,2016-12-31,15.0,28,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134503,0,1,2016-12-31,19.0,336,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134504,2,4,2016-12-31,15.0,125,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134505,5,3,2016-12-31,33.0,92,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134506,0,0,2016-12-31,15.0,416,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134507,0,0,2016-12-31,23.0,69,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134508,0,0,2016-12-31,15.0,108,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134509,0,0,2016-12-31,15.0,324,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134510,3,2,2016-12-31,15.0,199,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
1134511,0,1,2016-12-31,11.0,4,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0

In [5]:
test_data = data[(pd.to_datetime(data.date) == '2016-07-31')].copy()
data = data[(pd.to_datetime(data.date) != '2016-07-31')]
test_data.head()

,Input,Output,date,capacity,station_id,snow,thunder,rain,meantempm,meanwindspdm,...,st_id__439,st_id__443,st_id__444,st_id__448,st_id__451,st_id__452,st_id__454,st_id__455,st_id__456,st_id__458
895504,0,0,2016-07-31,19.0,444,0,1,1,29,8,...,0,0,1,0,0,0,0,0,0,0
895505,0,0,2016-07-31,11.0,73,0,1,1,29,8,...,0,0,0,0,0,0,0,0,0,0
895506,0,0,2016-07-31,11.0,138,0,1,1,29,8,...,0,0,0,0,0,0,0,0,0,0
895507,0,0,2016-07-31,11.0,2,0,1,1,29,8,...,0,0,0,0,0,0,0,0,0,0
895508,0,0,2016-07-31,19.0,383,0,1,1,29,8,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df_test = test_data.copy()
df_test.drop(['date', 'station_id', 'capacity'], axis = 1, inplace=True)
df_test.head()

,Input,Output,snow,thunder,rain,meantempm,meanwindspdm,day_part__0,day_part__6,day_part__12,...,st_id__439,st_id__443,st_id__444,st_id__448,st_id__451,st_id__452,st_id__454,st_id__455,st_id__456,st_id__458
895504,0,0,0,1,1,29,8,1,0,0,...,0,0,1,0,0,0,0,0,0,0
895505,0,0,0,1,1,29,8,1,0,0,...,0,0,0,0,0,0,0,0,0,0
895506,0,0,0,1,1,29,8,1,0,0,...,0,0,0,0,0,0,0,0,0,0
895507,0,0,0,1,1,29,8,1,0,0,...,0,0,0,0,0,0,0,0,0,0
895508,0,0,0,1,1,29,8,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df_train = data.copy()
df_train.drop(['date', 'station_id', 'capacity'], axis = 1, inplace=True)
df_train.head()

,Input,Output,snow,thunder,rain,meantempm,meanwindspdm,day_part__0,day_part__6,day_part__12,...,st_id__439,st_id__443,st_id__444,st_id__448,st_id__451,st_id__452,st_id__454,st_id__455,st_id__456,st_id__458
0,0,0,0,0,0,3,13,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,3,13,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,3,13,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,3,13,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,3,13,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
X_train = df_train.drop(['Input', 'Output'], axis = 1).values
y_train = df_train[['Input', 'Output']].values

In [9]:
X_test = df_test.drop(['Input', 'Output'], axis = 1).values
y_test =df_test[['Input', 'Output']].values

In [10]:
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

model = DecisionTreeRegressor()
model.fit(X_train, y_train)

my_y = model.predict(X_test)
my_y.shape

(1552, 2)

In [11]:
mean_squared_error(y_test,my_y)

108.58215206185567

In [13]:
np.savetxt("my_decision_tree_results_2016_07_31.csv", my_y, delimiter=",")

In [14]:
index_73_st = np.argwhere(test_data.station_id.values == 73)
index_73_st

array([[   1],
       [ 389],
       [ 777],
       [1165]])

In [ ]:
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

kf = KFold(n_splits=2)
model = DecisionTreeRegressor()

for train_index, test_index in kf.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    print "Train", X_train.shape, y_train.shape
    print "Test", X_test.shape, y_test.shape
    
    model.fit(X_train, y_train)
    print "MSE: ", mean_squared_error(y_test, model.predict(X_test))