In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12,5)

In [2]:
data = pd.read_csv('trips_with_weather.csv')
data.head()

,Unnamed: 0,Input,Output,Station Number,date,day_part,capacity,short_name,station_id,snow,thunder,rain,meantempm,meanwindspdm
0,1369,0,0,12th & Newton St NE,2015-01-01,0,11.0,31501,73,0,0,0,3,13
1,1370,2,0,Wilson Blvd & Franklin Rd,2015-01-01,0,11.0,31020,138,0,0,0,3,13
2,1371,0,1,18th & Eads St.,2015-01-01,0,11.0,31001,2,0,0,0,3,13
3,1372,0,0,18th St & Rhode Island Ave NE,2015-01-01,0,15.0,31510,235,0,0,0,3,13
4,1373,0,0,10th & Florida Ave NW,2015-01-01,0,19.0,31120,274,0,0,0,3,13

In [3]:
data.drop(data.columns[0], axis = 1, inplace=True)
data.drop(['Station Number', 'short_name'], axis = 1, inplace=True)
data.head()

,Input,Output,date,day_part,capacity,station_id,snow,thunder,rain,meantempm,meanwindspdm
0,0,0,2015-01-01,0,11.0,73,0,0,0,3,13
1,2,0,2015-01-01,0,11.0,138,0,0,0,3,13
2,0,1,2015-01-01,0,11.0,2,0,0,0,3,13
3,0,0,2015-01-01,0,15.0,235,0,0,0,3,13
4,0,0,2015-01-01,0,19.0,274,0,0,0,3,13

In [4]:
data = data.join( pd.get_dummies(data.day_part, prefix='day_part_'))

# data = data.join(pd.get_dummies(data.station_id, prefix='st_id_'))

data.drop('day_part', axis = 1, inplace=True)

data

,Input,Output,date,capacity,station_id,snow,thunder,rain,meantempm,meanwindspdm,day_part__0,day_part__6,day_part__12,day_part__18
0,0,0,2015-01-01,11.0,73,0,0,0,3,13,1,0,0,0
1,2,0,2015-01-01,11.0,138,0,0,0,3,13,1,0,0,0
2,0,1,2015-01-01,11.0,2,0,0,0,3,13,1,0,0,0
3,0,0,2015-01-01,15.0,235,0,0,0,3,13,1,0,0,0
4,0,0,2015-01-01,19.0,274,0,0,0,3,13,1,0,0,0
5,0,0,2015-01-01,19.0,269,0,0,0,3,13,1,0,0,0
6,0,0,2015-01-01,15.0,337,0,0,0,3,13,1,0,0,0
7,0,1,2015-01-01,11.0,93,0,0,0,3,13,1,0,0,0
8,0,0,2015-01-01,11.0,244,0,0,0,3,13,1,0,0,0
9,0,0,2015-01-01,17.0,3,0,0,0,3,13,1,0,0,0
10,0,0,2015-01-01,15.0,287,0,0,0,3,13,1,0,0,0
11,0,5,2015-01-01,19.0,236,0,0,0,3,13,1,0,0,0
12,0,0,2015-01-01,15.0,170,0,0,0,3,13,1,0,0,0
13,0,1,2015-01-01,23.0,228,0,0,0,3,13,1,0,0,0
14,2,0,2015-01-01,15.0,60,0,0,0,3,13,1,0,0,0
15,1,1,2015-01-01,35.0,27,0,0,0,3,13,1,0,0,0
16,1,0,2015-01-01,15.0,97,0,0,0,3,13,1,0,0,0
17,2,0,2015-01-01,15.0,80,0,0,0,3,13,1,0,0,0
18,0,0,2015-01-01,11.0,317,0,0,0,3,13,1,0,0,0
19,0,1,2015-01-01,15.0,74,0,0,0,3,13,1,0,0,0
20,0,2,2015-01-01,23.0,114,0,0,0,3,13,1,0,0,0
21,0,0,2015-01-01,23.0,110,0,0,0,3,13,1,0,0,0
22,0,0,2015-01-01,11.0,11,0,0,0,3,13,1,0,0,0
23,0,0,2015-01-01,15.0,167,0,0,0,3,13,1,0,0,0
24,0,0,2015-01-01,11.0,70,0,0,0,3,13,1,0,0,0
25,0,0,2015-01-01,11.0,246,0,0,0,3,13,1,0,0,0
26,0,1,2015-01-01,11.0,203,0,0,0,3,13,1,0,0,0
27,0,0,2015-01-01,11.0,340,0,0,0,3,13,1,0,0,0
28,2,0,2015-01-01,15.0,190,0,0,0,3,13,1,0,0,0
29,2,3,2015-01-01,19.0,183,0,0,0,3,13,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1123748,0,0,2017-04-01,27.0,193,0,0,1,12,23,0,0,0,1
1123749,0,0,2017-04-01,15.0,145,0,0,1,12,23,0,0,0,1
1123750,0,0,2017-04-01,19.0,72,0,0,1,12,23,0,0,0,1
1123751,0,0,2017-04-01,11.0,221,0,0,1,12,23,0,0,0,1
1123752,0,0,2017-04-01,23.0,95,0,0,1,12,23,0,0,0,1
1123753,0,0,2017-04-01,31.0,82,0,0,1,12,23,0,0,0,1
1123754,0,0,2017-04-01,12.0,255,0,0,1,12,23,0,0,0,1
1123755,0,0,2017-04-01,31.0,242,0,0,1,12,23,0,0,0,1
1123756,0,0,2017-04-01,15.0,155,0,0,1,12,23,0,0,0,1
1123757,0,0,2017-04-01,17.0,195,0,0,1,12,23,0,0,0,1
1123758,0,0,2017-04-01,19.0,153,0,0,1,12,23,0,0,0,1
1123759,0,0,2017-04-01,23.0,423,0,0,1,12,23,0,0,0,1
1123760,0,0,2017-04-01,15.0,333,0,0,1,12,23,0,0,0,1
1123761,0,0,2017-04-01,15.0,396,0,0,1,12,23,0,0,0,1
1123762,0,0,2017-04-01,19.0,379,0,0,1,12,23,0,0,0,1
1123763,0,0,2017-04-01,19.0,218,0,0,1,12,23,0,0,0,1
1123764,0,0,2017-04-01,19.0,185,0,0,1,12,23,0,0,0,1
1123765,0,0,2017-04-01,19.0,268,0,0,1,12,23,0,0,0,1
1123766,0,0,2017-04-01,15.0,28,0,0,1,12,23,0,0,0,1
1123767,0,0,2017-04-01,19.0,336,0,0,1,12,23,0,0,0,1
1123768,0,0,2017-04-01,15.0,125,0,0,1,12,23,0,0,0,1
1123769,0,0,2017-04-01,33.0,92,0,0,1,12,23,0,0,0,1
1123770,0,0,2017-04-01,15.0,416,0,0,1,12,23,0,0,0,1
1123771,0,0,2017-04-01,23.0,69,0,0,1,12,23,0,0,0,1
1123772,0,0,2017-04-01,15.0,108,0,0,1,12,23,0,0,0,1
1123773,0,0,2017-04-01,19.0,365,0,0,1,12,23,0,0,0,1
1123774,0,0,2017-04-01,15.0,466,0,0,1,12,23,0,0,0,1
1123775,0,0,2017-04-01,15.0,324,0,0,1,12,23,0,0,0,1
1123776,0,0,2017-04-01,15.0,199,0,0,1,12,23,0,0,0,1
1123777,0,0,2017-04-01,11.0,4,0,0,1,12,23,0,0,0,1

In [5]:
train_data = data[pd.to_datetime(data.date).dt.year != 2017].copy()
train_data

,Input,Output,date,capacity,station_id,snow,thunder,rain,meantempm,meanwindspdm,day_part__0,day_part__6,day_part__12,day_part__18
0,0,0,2015-01-01,11.0,73,0,0,0,3,13,1,0,0,0
1,2,0,2015-01-01,11.0,138,0,0,0,3,13,1,0,0,0
2,0,1,2015-01-01,11.0,2,0,0,0,3,13,1,0,0,0
3,0,0,2015-01-01,15.0,235,0,0,0,3,13,1,0,0,0
4,0,0,2015-01-01,19.0,274,0,0,0,3,13,1,0,0,0
5,0,0,2015-01-01,19.0,269,0,0,0,3,13,1,0,0,0
6,0,0,2015-01-01,15.0,337,0,0,0,3,13,1,0,0,0
7,0,1,2015-01-01,11.0,93,0,0,0,3,13,1,0,0,0
8,0,0,2015-01-01,11.0,244,0,0,0,3,13,1,0,0,0
9,0,0,2015-01-01,17.0,3,0,0,0,3,13,1,0,0,0
10,0,0,2015-01-01,15.0,287,0,0,0,3,13,1,0,0,0
11,0,5,2015-01-01,19.0,236,0,0,0,3,13,1,0,0,0
12,0,0,2015-01-01,15.0,170,0,0,0,3,13,1,0,0,0
13,0,1,2015-01-01,23.0,228,0,0,0,3,13,1,0,0,0
14,2,0,2015-01-01,15.0,60,0,0,0,3,13,1,0,0,0
15,1,1,2015-01-01,35.0,27,0,0,0,3,13,1,0,0,0
16,1,0,2015-01-01,15.0,97,0,0,0,3,13,1,0,0,0
17,2,0,2015-01-01,15.0,80,0,0,0,3,13,1,0,0,0
18,0,0,2015-01-01,11.0,317,0,0,0,3,13,1,0,0,0
19,0,1,2015-01-01,15.0,74,0,0,0,3,13,1,0,0,0
20,0,2,2015-01-01,23.0,114,0,0,0,3,13,1,0,0,0
21,0,0,2015-01-01,23.0,110,0,0,0,3,13,1,0,0,0
22,0,0,2015-01-01,11.0,11,0,0,0,3,13,1,0,0,0
23,0,0,2015-01-01,15.0,167,0,0,0,3,13,1,0,0,0
24,0,0,2015-01-01,11.0,70,0,0,0,3,13,1,0,0,0
25,0,0,2015-01-01,11.0,246,0,0,0,3,13,1,0,0,0
26,0,1,2015-01-01,11.0,203,0,0,0,3,13,1,0,0,0
27,0,0,2015-01-01,11.0,340,0,0,0,3,13,1,0,0,0
28,2,0,2015-01-01,15.0,190,0,0,0,3,13,1,0,0,0
29,2,3,2015-01-01,19.0,183,0,0,0,3,13,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981216,5,1,2016-12-31,23.0,367,0,0,1,4,21,0,0,0,1
981217,0,0,2016-12-31,17.0,140,0,0,1,4,21,0,0,0,1
981218,1,0,2016-12-31,27.0,193,0,0,1,4,21,0,0,0,1
981219,5,4,2016-12-31,15.0,145,0,0,1,4,21,0,0,0,1
981220,0,0,2016-12-31,19.0,72,0,0,1,4,21,0,0,0,1
981221,0,0,2016-12-31,11.0,221,0,0,1,4,21,0,0,0,1
981222,0,1,2016-12-31,23.0,95,0,0,1,4,21,0,0,0,1
981223,4,4,2016-12-31,31.0,82,0,0,1,4,21,0,0,0,1
981224,0,0,2016-12-31,12.0,255,0,0,1,4,21,0,0,0,1
981225,2,7,2016-12-31,31.0,242,0,0,1,4,21,0,0,0,1
981226,0,1,2016-12-31,15.0,155,0,0,1,4,21,0,0,0,1
981227,0,0,2016-12-31,17.0,195,0,0,1,4,21,0,0,0,1
981228,6,3,2016-12-31,19.0,153,0,0,1,4,21,0,0,0,1
981229,0,0,2016-12-31,23.0,423,0,0,1,4,21,0,0,0,1
981230,0,0,2016-12-31,15.0,333,0,0,1,4,21,0,0,0,1
981231,4,0,2016-12-31,15.0,396,0,0,1,4,21,0,0,0,1
981232,0,0,2016-12-31,19.0,379,0,0,1,4,21,0,0,0,1
981233,1,0,2016-12-31,19.0,218,0,0,1,4,21,0,0,0,1
981234,0,0,2016-12-31,19.0,185,0,0,1,4,21,0,0,0,1
981235,0,0,2016-12-31,19.0,268,0,0,1,4,21,0,0,0,1
981236,4,2,2016-12-31,15.0,28,0,0,1,4,21,0,0,0,1
981237,0,1,2016-12-31,19.0,336,0,0,1,4,21,0,0,0,1
981238,2,4,2016-12-31,15.0,125,0,0,1,4,21,0,0,0,1
981239,5,3,2016-12-31,33.0,92,0,0,1,4,21,0,0,0,1
981240,0,0,2016-12-31,15.0,416,0,0,1,4,21,0,0,0,1
981241,0,0,2016-12-31,23.0,69,0,0,1,4,21,0,0,0,1
981242,0,0,2016-12-31,15.0,108,0,0,1,4,21,0,0,0,1
981243,0,0,2016-12-31,15.0,324,0,0,1,4,21,0,0,0,1
981244,3,2,2016-12-31,15.0,199,0,0,1,4,21,0,0,0,1
981245,0,1,2016-12-31,11.0,4,0,0,1,4,21,0,0,0,1

In [6]:
test_data = data[pd.to_datetime(data.date).dt.year == 2017].copy()
test_data

,Input,Output,date,capacity,station_id,snow,thunder,rain,meantempm,meanwindspdm,day_part__0,day_part__6,day_part__12,day_part__18
981246,0,0,2017-01-01,19.0,444,0,0,0,8,8,1,0,0,0
981247,0,0,2017-01-01,11.0,73,0,0,0,8,8,1,0,0,0
981248,0,0,2017-01-01,11.0,138,0,0,0,8,8,1,0,0,0
981249,0,0,2017-01-01,11.0,2,0,0,0,8,8,1,0,0,0
981250,0,0,2017-01-01,19.0,383,0,0,0,8,8,1,0,0,0
981251,0,0,2017-01-01,19.0,417,0,0,0,8,8,1,0,0,0
981252,0,0,2017-01-01,15.0,235,0,0,0,8,8,1,0,0,0
981253,1,0,2017-01-01,19.0,274,0,0,0,8,8,1,0,0,0
981254,0,0,2017-01-01,19.0,269,0,0,0,8,8,1,0,0,0
981255,0,0,2017-01-01,15.0,337,0,0,0,8,8,1,0,0,0
981256,0,0,2017-01-01,11.0,93,0,0,0,8,8,1,0,0,0
981257,0,0,2017-01-01,11.0,244,0,0,0,8,8,1,0,0,0
981258,0,0,2017-01-01,17.0,3,0,0,0,8,8,1,0,0,0
981259,0,0,2017-01-01,15.0,287,0,0,0,8,8,1,0,0,0
981260,0,2,2017-01-01,19.0,236,0,0,0,8,8,1,0,0,0
981261,0,0,2017-01-01,15.0,181,0,0,0,8,8,1,0,0,0
981262,0,0,2017-01-01,15.0,170,0,0,0,8,8,1,0,0,0
981263,0,2,2017-01-01,23.0,228,0,0,0,8,8,1,0,0,0
981264,0,0,2017-01-01,15.0,60,0,0,0,8,8,1,0,0,0
981265,0,0,2017-01-01,35.0,27,0,0,0,8,8,1,0,0,0
981266,0,0,2017-01-01,23.0,400,0,0,0,8,8,1,0,0,0
981267,0,1,2017-01-01,15.0,97,0,0,0,8,8,1,0,0,0
981268,2,0,2017-01-01,15.0,80,0,0,0,8,8,1,0,0,0
981269,0,0,2017-01-01,11.0,317,0,0,0,8,8,1,0,0,0
981270,0,2,2017-01-01,15.0,74,0,0,0,8,8,1,0,0,0
981271,0,1,2017-01-01,23.0,114,0,0,0,8,8,1,0,0,0
981272,0,0,2017-01-01,23.0,110,0,0,0,8,8,1,0,0,0
981273,0,0,2017-01-01,11.0,11,0,0,0,8,8,1,0,0,0
981274,0,0,2017-01-01,15.0,167,0,0,0,8,8,1,0,0,0
981275,0,0,2017-01-01,11.0,70,0,0,0,8,8,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1123748,0,0,2017-04-01,27.0,193,0,0,1,12,23,0,0,0,1
1123749,0,0,2017-04-01,15.0,145,0,0,1,12,23,0,0,0,1
1123750,0,0,2017-04-01,19.0,72,0,0,1,12,23,0,0,0,1
1123751,0,0,2017-04-01,11.0,221,0,0,1,12,23,0,0,0,1
1123752,0,0,2017-04-01,23.0,95,0,0,1,12,23,0,0,0,1
1123753,0,0,2017-04-01,31.0,82,0,0,1,12,23,0,0,0,1
1123754,0,0,2017-04-01,12.0,255,0,0,1,12,23,0,0,0,1
1123755,0,0,2017-04-01,31.0,242,0,0,1,12,23,0,0,0,1
1123756,0,0,2017-04-01,15.0,155,0,0,1,12,23,0,0,0,1
1123757,0,0,2017-04-01,17.0,195,0,0,1,12,23,0,0,0,1
1123758,0,0,2017-04-01,19.0,153,0,0,1,12,23,0,0,0,1
1123759,0,0,2017-04-01,23.0,423,0,0,1,12,23,0,0,0,1
1123760,0,0,2017-04-01,15.0,333,0,0,1,12,23,0,0,0,1
1123761,0,0,2017-04-01,15.0,396,0,0,1,12,23,0,0,0,1
1123762,0,0,2017-04-01,19.0,379,0,0,1,12,23,0,0,0,1
1123763,0,0,2017-04-01,19.0,218,0,0,1,12,23,0,0,0,1
1123764,0,0,2017-04-01,19.0,185,0,0,1,12,23,0,0,0,1
1123765,0,0,2017-04-01,19.0,268,0,0,1,12,23,0,0,0,1
1123766,0,0,2017-04-01,15.0,28,0,0,1,12,23,0,0,0,1
1123767,0,0,2017-04-01,19.0,336,0,0,1,12,23,0,0,0,1
1123768,0,0,2017-04-01,15.0,125,0,0,1,12,23,0,0,0,1
1123769,0,0,2017-04-01,33.0,92,0,0,1,12,23,0,0,0,1
1123770,0,0,2017-04-01,15.0,416,0,0,1,12,23,0,0,0,1
1123771,0,0,2017-04-01,23.0,69,0,0,1,12,23,0,0,0,1
1123772,0,0,2017-04-01,15.0,108,0,0,1,12,23,0,0,0,1
1123773,0,0,2017-04-01,19.0,365,0,0,1,12,23,0,0,0,1
1123774,0,0,2017-04-01,15.0,466,0,0,1,12,23,0,0,0,1
1123775,0,0,2017-04-01,15.0,324,0,0,1,12,23,0,0,0,1
1123776,0,0,2017-04-01,15.0,199,0,0,1,12,23,0,0,0,1
1123777,0,0,2017-04-01,11.0,4,0,0,1,12,23,0,0,0,1

In [7]:
df_test = test_data.copy()
df_test.drop(['date', 'capacity'], axis = 1, inplace=True)
df_test.head()

,Input,Output,station_id,snow,thunder,rain,meantempm,meanwindspdm,day_part__0,day_part__6,day_part__12,day_part__18
981246,0,0,444,0,0,0,8,8,1,0,0,0
981247,0,0,73,0,0,0,8,8,1,0,0,0
981248,0,0,138,0,0,0,8,8,1,0,0,0
981249,0,0,2,0,0,0,8,8,1,0,0,0
981250,0,0,383,0,0,0,8,8,1,0,0,0

In [8]:
df_train = train_data.copy()
df_train.drop(['date', 'capacity'], axis = 1, inplace=True)
df_train.head()

,Input,Output,station_id,snow,thunder,rain,meantempm,meanwindspdm,day_part__0,day_part__6,day_part__12,day_part__18
0,0,0,73,0,0,0,3,13,1,0,0,0
1,2,0,138,0,0,0,3,13,1,0,0,0
2,0,1,2,0,0,0,3,13,1,0,0,0
3,0,0,235,0,0,0,3,13,1,0,0,0
4,0,0,274,0,0,0,3,13,1,0,0,0

In [9]:
# словарь номер станции - данные по ней
train_stations_data = {}

for st_id in np.sort(df_train.station_id.unique()):
    train_stations_data[st_id] = df_train[df_train.station_id == st_id]

In [10]:
# осредняем по каждой станции Input Output
train_mean_stations = {}

for st_id in train_stations_data:
    mean_input = train_stations_data[st_id].Input.mean()
    mean_output = train_stations_data[st_id].Output.mean()
    train_mean_stations[st_id] = [mean_input, mean_output]
train_mean_stations[1][0]

1.4413102820746133

In [11]:
# заполняем предсказание

In [12]:
X_train = df_train.drop(['Input', 'Output'], axis = 1).values
y_train = df_train[['Input', 'Output']].values

In [13]:
X_test = df_test.drop(['Input', 'Output'], axis = 1).values
y_test = df_test[['Input', 'Output']].values

In [14]:
# в данных за 2015 - 2016 года и за 2017 есть различия
np.setdiff1d(df_test.station_id.unique(), df_train.station_id.unique())

array([157, 365, 449, 453, 459, 460, 461, 462, 463, 464, 465, 466, 469,
       470, 471])

In [15]:
# заполняем предсказание средним по станции
df_result = pd.DataFrame(df_test.station_id, columns=['station_id', 'Input', 'Output'])
for st_id in train_mean_stations:
    df_result.Input[df_result.station_id == st_id] = train_mean_stations[st_id][0]
    df_result.Output[df_result.station_id == st_id] = train_mean_stations[st_id][1]
    
df_result.Input.fillna(df_result.Input.mean() , inplace = True)
df_result.Output.fillna(df_result.Output.mean(), inplace = True)
df_result

/home/peter/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/peter/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

         station_id      Input     Output
981246          444   0.056886   0.065868
981247           73   1.285910   0.984952
981248          138   2.675787   1.766758
981249            2   1.714090   1.627907
981250          383   0.728000   0.476000
981251          417   1.894569   2.036741
981252          235   0.572161   0.592339
981253          274   5.888509   5.463064
981254          269   0.776676   0.765390
981255          337   0.713748   0.773598
981256           93   2.760944   2.088577
981257          244   0.243490   0.201619
981258            3   3.877565   4.412107
981259          287   1.888509   1.675445
981260          236   5.229138   5.435705
981261          181   3.521739   3.099185
981262          170   1.600889   1.425787
981263          228   3.368673   2.632353
981264           60   4.387141   4.469220
981265           27  10.391587  13.800958
981266          400   4.802646   3.963616
981267           97   4.021204   4.564979
981268           80   5.802668   2.912449
981269          317   0.349863   0.353967
981270           74   6.502052   6.499316
981271          114  18.558824  19.515390
981272          110   9.562244   9.087551
981273           11   2.639877   3.012312
981274          167   2.294460   1.677155
981275           70   0.143639   0.195622
...             ...        ...        ...
1123748         193  10.342339  10.744186
1123749         145  13.035568  13.054378
1123750          72  11.300274  15.612175
1123751         221   0.191071   0.179643
1123752          95   9.544460  10.401847
1123753          82  10.404925  11.444596
1123754         255   1.150137   1.108071
1123755         242  13.145691  13.844391
1123756         155   0.219904   0.125855
1123757         195   1.015732   0.983584
1123758         153  15.574213  19.311902
1123759         423   0.332599   0.442731
1123760         333   1.064295   0.900479
1123761         396   0.881699   1.086957
1123762         379   0.693523   0.416272
1123763         218   2.173393   1.423051
1123764         185   6.570793   6.312927
1123765         268   0.468878   0.970246
1123766          28   8.753078   6.881669
1123767         336  11.003078  11.871067
1123768         125   8.977770   9.488714
1123769          92  18.785226  21.480164
1123770         416   0.969649   1.132588
1123771          69   9.266758   9.377907
1123772         108   6.680233   6.385431
1123773         365   6.111120   6.067837
1123774         466   6.111120   6.067837
1123775         324   0.506840   0.733926
1123776         199   9.547196  11.050958
1123777           4   3.504446   3.570793

[142532 rows x 3 columns]

In [16]:
my_y = df_result[['Input', 'Output']].values
my_y

array([[  0.05688623,   0.06586826],
       [  1.28590971,   0.98495212],
       [  2.67578659,   1.76675787],
       ...,
       [  0.50683995,   0.73392613],
       [  9.54719562,  11.05095759],
       [  3.50444596,   3.57079343]])

In [17]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, my_y)

63.179160310616709